// defalut post format
.blog__simple_post_item {
    height: 450px;
    width: 100%;
    position: relative;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
    &::after {
        content: "";
        background: rgb(0,0,0);
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute; 
        transition: ease opacity .6s;
    }
    &:hover{
        &::after {
            opacity: 0;
        }
        *{
            opacity: 0;
        }

    }
}

.blog__simple_post_item__head p{
    margin: 0;
    position: relative;
    z-index: 1;
    transition: ease opacity .6s;
}

.blog__simple_post_item__title h2{
    position: relative;
    z-index: 1;
    transition: ease opacity .6s;
}

.blog__simple_post_item__footer p{
    margin: 0;
    position: relative;
    z-index: 1;
    transition: ease opacity .6s;
}

// video post format
.blog__video_post_item{
    height: 450px;
    width: 100%;
    position: relative;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
    &::after {
        content: url('/../wp-content/themes/luxcoin/build/img/PLAY.png');
        opacity: 0.6;
        top: 50%;
        left: 50%;
        position: absolute; 
        transition: ease opacity .6s;
        transform: translate(-57px, -57px);
    }
    &:hover{
        &::after {
            opacity: 1;
        }

    }
}