/*
.btn
 */


.btn {
    transition: color ease 300ms, background-color 300ms ease, background-position 300ms ease;
    position: relative;
    text-decoration: none !important;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    z-index: 10;
}

.btn-radius {
    border-radius: 50px;
}

.btn__inner {
    transition: color ease 300ms, background-color 300ms ease, background-position 300ms ease;
}

.btn-type-1 {
    display: inline-block;
    border-radius: 12px;
    font-weight: bold;
    background-size: 200% auto;
    background: linear-gradient(to bottom, #d8c29e 0%,#f4f0da 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-transform: uppercase;
    font-size: rem(12);
    letter-spacing: 1px;
    padding: 1px;

    .btn__inner {
        border-radius: 12px;
        color: $br3;
        display: inline-block;
        background-size: 200% auto;
        background-image: linear-gradient(45deg, $br5 0%, #cfc39a 51%,  $br5 100%);
        //margin: 2px;
    }

    &:hover {

        .btn__inner {
            color: $br3;
            background-position: right center;
        }
    }
}

.btn-xs {

}
.btn-sm {
    .btn__inner {
        padding: rem(12) rem(20);

    }
}
.btn-md {
    .btn__inner {
        padding: rem(12) rem(20);
        @include rwd(large) {
            padding: rem(12) rem(40);
        }
    }
}
.btn-lg {

}