.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include rwd(medium) {
        &:hover {
            .card {
                filter: blur(3px);
                transform: translateX(0) scale(0.9);
            }
        }

    }
    .card {
        &:hover {
            color: $br3;
            text-decoration: none;
            filter: blur(0);
            transform: translateX(0) scale(1);
        }
    }

}
.card {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 200px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $br3;
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
    transition: transform ease 300ms, blur ease 200ms;

    &:after {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        content: '';
        top: 20px;
        left: 20px;
        position: absolute;
        z-index: 10;
        border: 1px solid white;
    }

    @include rwd(medium) {
        width: 30%;
        height: 400px;
        margin: 0;
        &:nth-child(1) {
            z-index: 5;
            transform: translateX(20%) scale(0.9);
            filter: blur(3px);
        }
        &:nth-child(2) {
            z-index: 10;
        }
        &:nth-child(3) {
            z-index: 5;
            transform: translateX(-20%) scale(0.9);
            filter: blur(3px);
        }
    }

}