.heading {
    position: relative;
    z-index: 20;
}
.heading__text {
    color: #b1a78d;
    -webkit-text-fill-color: transparent !important;
    background-image: -webkit-linear-gradient(45deg, #b1a78d 0%, #ece3cf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 5px 0;
    font-weight: 600;
}