.lang-select {

}
.lang-select__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lang-select__item {
    display: inline-block;
}
.lang-select__link {
    color: $br2;
    padding: rem(5);
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: color ease 300ms;
    font-size: rem(12);
    font-weight: bold;
    &:hover {
        color: $br1;
        text-decoration: none;
    }
}
.lang-select__link--active {
    color: $br3;
}