.unnumbered_list{
    list-style-image: url('/wp-content/themes/luxcoin/build/img/list_mark.png');
}

.unnumbered_list__item{
    color: #b1a78d;
    -webkit-text-fill-color: transparent !important;
    background-image: -webkit-linear-gradient(45deg, #b1a78d 0%, #ece3cf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 0;
    font-weight: 600;
    font-size: 1.7rem;
    padding-left: 1rem;
    margin-left: -1rem;
}