.page-shop {
    max-width: 870px;
    margin: 0 auto;
}
.s-product__thumb {
    margin: 0 auto;
    position: relative;

    img {
        width: 100%;
    }
}

.s-product__thumb-shadow {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom:0;
    left: 0;
    opacity: 0.4;
    transform: translateY(100%);
    background-size: 100% auto;
    background-position: top center;
    z-index: -1;
    display: none;
    &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 110%;
        content: '';
        background: linear-gradient(to bottom, rgba(255,255,255,0) -1%,rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}
//Normalny
.s-product--1 {
    .s-product__thumb {
         width: 60%;
         max-width: 170px;
     }
    .s-product__thumb-shadow {
        display: block;
    }
}
// Zestaw
.s-product--2 {
    .s-product__thumb img{
        margin-bottom: -1.8rem;
    }
    .s-product__thumb-shadow {
        display: block;
        z-index: 1;
    }
}
// Pen
.s-product--3 {
    .s-product__thumb {
        width: 100%;
    }
}
// Watches
.s-product--4 {
    .s-product__thumb {
        width: 60%;
        max-width: 210px;
    }
}
// with plus
.s-product--5 {
    .s-product__thumb {
         width: 80%;
         max-width: 170px;
         position: relative;
         &:before{
             content: url('/../wp-content/themes/luxcoin/build/img/PLUSIK.png');
             position: absolute;
             right: 0;
             top: 0;
             transform: translate(2rem, -1rem);
            cursor: pointer;
         }
     }
    .s-product__thumb-shadow {
        display: block;
    }
}

// edition
.edition_parameters img{
    margin-bottom: -10rem;
  }
