.slider-circle {
    position: relative;
    padding-bottom: 12rem;
}
.slider-circle__circle {
    width: 250px;
    height: 250px;

    background-color: white;
    margin: 2rem auto;
    border-radius: 50%;
    transition: all ease 1000ms;
    position: relative;
    background-image: url("../img/brdr.jpg");
    background-size: contain;

    @include rwd(medium) {
        width: 600px;
        height: 600px;
        margin: 5rem auto;
    }

}
.glass {
    width: 40px;
    cursor: pointer;
    position: absolute;
    transition: all ease 1200ms;

    img {
        width: 100%;
    }
    @include rwd(medium) {
        width: auto;
    }
}
.glass-1 {
    left: 50%;
    top: 60%;
}
.glass-2 {
    left: 80%;
    top: 0;
}
.glass-3 {
    left: -5%;
    top: 20%;
}

.slider-circle--1 {
    @include rwd(medium) {
        .slider-circle__circle {
            transform: rotate(0);
        }
        .glass-1 {
            transform: rotate(0);
        }
        .glass-2 {
            transform: rotate(0);
        }
        .glass-3 {
            transform: rotate(0);
        }

    }
    .glass-1-content {
        opacity: 1;
    }
}
.slider-circle--2 {
    @include rwd(medium) {
        .slider-circle__circle {
            transform: rotate(100deg);
        }
        .glass-1 {
            top: 73%;
            transform: rotate(-100deg);
        }
        .glass-2 {
            top: 20%;
            transform: rotate(-100deg);
        }
        .glass-3 {
            top: 0%;
            transform: rotate(-100deg);
        }

    }
    .glass-2-content {
        opacity: 1;
    }
}
.slider-circle--3 {
    @include rwd(medium) {
        .slider-circle__circle {
            transform: rotate(230deg);
        }
        .glass-1 {
            top: 73%;
            transform: rotate(-230deg);
        }
        .glass-2 {
            top: 20%;
            transform: rotate(-230deg);
        }
        .glass-3 {
            top: 0%;
            left: 10%;
            transform: rotate(-230deg);
        }

    }
    .glass-3-content {
        opacity: 1;
    }
}
.slider-circle__content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    //transform: translateY(100%);
    opacity: 0;
    transition: opacity 800ms ease;
}