.slider-coins {
    height: 350px;
    position: relative;

    @include rwd(medium) {
        height: 500px;
    }
}
.slider-coins__coin {
    width: 200px;
    float: left;
    position: absolute;
    left: calc(50% - 100px);
    transition: all ease 500ms;

    @include rwd(medium) {
        width: 280px;
        left: calc(50% - 140px);
    }

    img {
        width: 100%;
    }

    &.left {
        transform: translate(-90px) scale(0.8);
        z-index: 5;
        filter: blur(5px);
        opacity:0.6;
         @include rwd(medium) {
             transform: translate(-200px) scale(0.8);
         }
    }

    &.center {
        z-index: 15;
        transform: translate(0) scale(1);
    }

    &.right {
        transform: translate(90px) scale(0.8);
        z-index: 5;
        filter: blur(5px);
        opacity:0.6;

        @include rwd(medium) {
            transform: translate(200px) scale(0.8);
        }
    }
}
.slider-coins__content {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}
.slider-coins__arrow {
    position: absolute;
    z-index: 30;

    left: 50%;

    font-size: 3rem;
    color: #727272;

    top: 80px;
    &.js-slider-coins__prev {
        transform: translateX(-150px);
    }
    &.js-slider-coins__next {
        transform: translateX(120px);
    }
    text-decoration: none !important;

    &:hover {
        color: $br1;
    }

    @include rwd(medium) {
        top: 120px;
        &.js-slider-coins__prev {
            transform: translateX(-220px);
        }
        &.js-slider-coins__next {
            transform: translateX(190px);
        }
    }
}