.socials {
    list-style: none;
    margin: 0;
    padding: 0;
}
.socials__item {
    padding: rem(3);
    display: inline-block;
}
.socials__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: $br4;

    .icon-svg {
        transition: color ease 300ms;
        color: $br1;
        font-size: rem(28);
    }

    &:hover {
        text-decoration: none;
        .icon-svg {
            color: $br2;
        }
    }
}
.socials__short {
    font-size: rem(13);
    font-weight: 300;
    text-align: center;
    transition: color ease 300ms;
    display: block;

    &:hover {
        text-decoration: none;
        color: $br2;
    }

    @include rwd(medium) {
        margin: 0 1rem;
    }
}
.socials__long {
    font-size: rem(13);
    font-weight: 300;
    text-align: center;
}

.socials-side {
    position: fixed;
    z-index: 401;
    top: 54px;
    right: 24px;
    transform: rotate(90deg) translateX(100%);
    transform-origin: 100% 100%;
    display: none;

    @include rwd(medium) {
        display: block;
    }
}
.socials--horizontal {
    .socials__link {
        margin: 0 .5rem;

        @include rwd(medium) {
            margin: 0 1.5rem;
        }
    }
}