.separator {
    width: 100%;
    height: 62px;
    background-image: url("../img/separator.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 2rem 0;
}