@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');

.font-primary {
    font-family: $ff-primary;
}
.font-secondary {
    font-family: $ff-secondary;
}