/*==============================================
    Mixins
/*=============================================*/
@mixin rwd($width) {
    @if $width==xsmall {
        @media only screen and (min-width: $rwd-xsmall) {
            @content;
        }
    }
    @else if $width==small {
        @media only screen and (min-width: $rwd-small) {
            @content;
        }
    }
    @else if $width==medium {
        @media only screen and (min-width: $rwd-medium) {
            @content;
        }
    }
    @else if $width==large {
        @media only screen and (min-width: $rwd-large) {
            @content;
        }
    }
    @else if $width==xlarge {
        @media only screen and (min-width: $rwd-xlarge) {
            @content;
        }
    }
}

@mixin rwdmax($width) {
    @if $width==xsmall {
        @media only screen and (max-width: $rwd-max-xsmall) {
            @content;
        }
    }
    @else if $width==small {
        @media only screen and (max-width: $rwd-max-small) {
            @content;
        }
    }
    @else if $width==medium {
        @media only screen and (max-width: $rwd-max-medium) {
            @content;
        }
    }
    @else if $width==large {
        @media only screen and (max-width: $rwd-max-large) {
            @content;
        }
    }
    @else if $width==xlarge {
        @media only screen and (max-width: $rwd-max-xlarge) {
            @content;
        }
    }
}
