.bg-1 {
    background-color: $br1;
}
.bg-2 {
    background-color: $br2;
}
.bg-3 {
    background-color: $br3;
}
.bg-4 {
    background-color: $br4;
}
.bg-5 {
    background-color: $br5;
}
.bg-6 {
    background-color: $br6;
}
.bg-7 {
    background-color: $br7;
}
.bg-8 {
    background-color: $br8;
}