.color-1 {
    color: $br1;
    a:not(.btn):not(.socials__link) {
        color: $br1;
    }
}
.color-2 {
    color: $br2;
    a:not(.btn):not(.socials__link) {
        color: $br2;
    }
}
.color-3 {
    color: $br3;
    a:not(.btn):not(.socials__link) {
        color: $br3;
    }
}
.color-4 {
    color: $br4;
    a:not(.btn):not(.socials__link) {
        color: $br4;
    }
}
.color-5 {
    color: $br5;
    a:not(.btn):not(.socials__link) {
        color: $br5;
    }
}
.color-6 {
    color: $br6;
    a:not(.btn):not(.socials__link) {
        color: $br6;
    }
}
.color-7 {
    color: $br7;
    a:not(.btn):not(.socials__link) {
        color: $br7;
    }
}
.color-8 {
    color: $br8;
    a:not(.btn):not(.socials__link) {
        color: $br8;
    }
}