<div class="nav-main-container js-nav-main-container">
    <a href="#" class="main-nav-trigger js-main-nav-trigger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        {#<span class="txt">Menu</span>#}
    </a>

    <nav class="main-nav js-main-nav" role="navigation">
        <h4 class="main-nav__title mb-3">Menu</h4>
        <ul class="main-nav__list">
            {% for item in menu.header_primary.get_items %}
                <li class="main-nav__item {{ item.classes | join(' ') }} {% if item.get_children %}main-nav__item--drop js-main-nav-drop{% endif %}">
                    <a class="main-nav__link {{ item.current_item_parent ? 'main-nav__link--active' }} {{ item.current ? 'main-nav__link--active' }}"
                       href="{{ item.get_link }}">{{ item.title }} {% if item.get_children %}<span class="icon-svg icon-chevron-down js-main-nav-drop__trigger"></span>{% endif %}</a>
                    {% if item.get_children %}
                        <ul class="main-nav-drop">
                            {% for child in item.get_children %}
                                <li class="main-nav-drop__item {{ child.classes | join(' ') }}">
                                    <a class="main-nav-drop__link {{ child.current ? 'main-nav-drop__link' }}" href="{{ child.get_link }}">{{ child.title }} {% if child.get_children %}<span class="icon-svg icon-chevron-right d-none d-xl-inline-block"></span>{% endif %}</a>

                                    {% if child.get_children %}
                                        <ul class="main-nav-drop">
                                            {% for child2 in child.get_children %}
                                                <li class="main-nav-drop__item {{ child2.classes | join(' ') }}">
                                                    <a class="main-nav-drop__link {{ child2.current ? 'main-nav-drop__link' }}" href="{{ child2.get_link }}">{{ child2.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>