<div class="nav-footer-container">
  <nav class="footer-nav pb-4" role="navigation">
      {% for block in menu.footer_secondary.get_items|batch(3, '') %}
          <ul class="footer-nav__list">
              {% for item in block %}
                  <li class="footer-nav__item {{ item.classes | join(' ') }}">
                      <a class="footer-nav__link" href="{{ item.get_link }}">{{ item.title }}</a>
                  </li>
              {% endfor %}


          </ul>
      {% endfor %}
  </nav>
</div>
