<ul class="socials socials--{{ type }}">
    {% if options.facebook_url %}
        <li class="socials__item">
            <a class="socials__link" href="{{ options.facebook_url }}">
                {% if type == 'horizontal' %}
                    <i class="icon-svg icon-fb"></i>
                    <span class="socials__long">FB</span>
                {% elseif type == 'vertical' %}
                    <span class="socials__short">FACEBOOK</span>
                {% endif %}
            </a>
        </li>
    {% endif %}
    {% if options.instagram_url %}
        <li class="socials__item">
            <a class="socials__link" href="{{ options.instagram_url }}">
                {% if type == 'horizontal' %}
                <i class="icon-svg icon-instagram"></i>
                <span class="socials__long">INS</span>
                {% elseif type == 'vertical' %}
                <span class="socials__short">INSTAGRAM</span>
                {% endif %}

            </a>
        </li>
    {% endif %}
    {% if options.youtube_url %}
        <li class="socials__item">
            <a class="socials__link" href="{{ options.youtube_url }}">
                {% if type == 'horizontal' %}
                <i class="icon-svg icon-youtube"></i>
                <span class="socials__long">YT</span>
                {% elseif type == 'vertical' %}
                <span class="socials__short">YOUTUBE</span>
                {% endif %}

            </a>
        </li>
    {% endif %}
    {% if options.twitter_url %}
        <li class="socials__item">
            <a class="socials__link" href="{{ options.twitter_url }}">
                {% if type == 'horizontal' %}
                <i class="icon-svg icon-twitter"></i>
                <span class="socials__long">TW</span>
                {% elseif type == 'vertical' %}
                <span class="socials__short">TWITTER</span>
                {% endif %}

            </a>
        </li>
    {% endif %}
    {% if options.linkedin_url %}
        <li class="socials__item">
            <a class="socials__link" href="{{ options.linkedin_url }}">
                {% if type == 'horizontal' %}
                <i class="icon-svg icon-linkedin"></i>
                <span class="socials__long">IN</span>
                {% elseif type == 'vertical' %}
                <span class="socials__short">LINKEDIN</span>
                {% endif %}

            </a>
        </li>
    {% endif %}
</ul>