// First level
.nav-footer-container {

}
.footer-nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid transparentize($br5, 0.5);
}
.footer-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 50%;
    @include rwd(medium) {
        width: 25%;
    }
    @include rwd(large) {
        width: 25%;
    }
}
.footer-nav__item {
    width: 100%;
    display: block;
}
.footer-nav__link {
    padding: 0.5rem 0;
    display: block;
    color: $br5;
    font-weight: 400;
    text-decoration: none;
    transition: color ease 300ms;
    font-size: rem(12);

    &:hover {
        color: $br1;
        text-decoration: none;
    }
}
.footer-nav__link--active {
    color: $br1;
}
// End First level