// First level
.main-nav {
    display: flex;
    transform: translateX(-100%);
    opacity: 0;
    width: 100%;
    height: auto;
    position: absolute;
    padding: 80px 30px 30px;
    left: 0;
    top: 0;
    z-index: 20;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    background-color: transparentize($br4, 0.5);
    transition: transform ease 400ms, opacity 600ms;

    @include rwd(medium) {
        width: 50%;
        min-height: 600px;
        height: 100vh;
        padding: 40px;
    }
    @include rwd(large) {
        width: 40%;
        padding: 90px;
    }
}
.main-nav__title {
    width: 100%;
    color: $br1;
    font-size: 1.5rem;
}
.main-nav.main-nav--open {
    transform: translateX(0);
    opacity: 1;
}

.main-nav__list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.main-nav__item {
    display: block;

    .icon-svg {
        font-size: 80%;
        padding: 0 0 0 10px;
        //padding: 3px;
        //color: $br1;
        //background-color: $br3;
        //border-radius: $border-radius;
        //display: inline-block;
        &:before {
            vertical-align: baseline;
        }
    }
}

.main-nav__link {
    font-size: rem(12);
    padding: rem(10) 0;
    color: $br1;
    font-weight: 400;
    transition: color ease 200ms;
    display: inline-block;

    &:hover {
        text-decoration: none;
        color: $br3;
    }
}

.main-nav__item.current_page_item {
    & > .main-nav__link {

    }
}
.main-nav__item.current-page-parent {
    & > .main-nav__link {

    }
}
.main-nav-drop__item.current_page_item {
    & > .main-nav-drop__link {

    }
}



// End First level

// Drop menu
.main-nav-drop {
    display: none;
    background-color: $br3;
    margin: 0;
    padding: rem(15) 0;
    list-style: none;
    text-align: center;
    z-index: 30;
    border-radius: $border-radius;
}
.main-nav-drop__item {
    position: relative;


    .main-nav-drop {
        display: block;
        background-color: transparent;
    }
}
.main-nav-drop__link {
    font-size: rem(12);
    padding: rem(5) rem(22);
    display: block;
    color: $br6;
    text-transform: uppercase;
    font-weight: 700;
    transition: color ease 200ms;

    &:hover {
        text-decoration: none;
        color: $br2;
    }
}

// End Drop menu

// Actions menu

// End Actions menu
// Hamburger //
.main-nav-trigger {
    position: absolute;
    z-index: 30;
    //transition: all 0.3s ease-in-out;
    width: 46px;
    height: 46px;
    display: block;
    left: rem(24);
    top: rem(14);

}

.main-nav-trigger--open {

}

.line {
    width: 24px;
    height: 3px;
    display: block;
    transition: all 0.3s ease;
    position: absolute;
    left: 11px;
    background-color: $br3;

    &:nth-child(1){
        top: 14px;
    }
    &:nth-child(2){
        top: 30px;
    }
    &:nth-child(3){
        top: 22px;
    }
}

.main-nav-trigger--open .line {
    height: 2px;
    width: 32px;
    left: 7px;
    background-color: $br3;

    &:nth-child(1){
        transform: rotate(-45deg);
        top: 22px;
    }
    &:nth-child(2){
        opacity: 0;
        left: 16px;
    }
    &:nth-child(3){
        transform: rotate(45deg);
        top: 22px;
    }
}

// End Hamburger //