{% block head %}
    {% include 'Partials/Layout/_head.twig' %}
{% endblock %}

<body class="{{body_class}} js-body-loading" data-template="base.twig" id="body">

{% block header %}
    {% include 'Partials/Layout/_header.twig' %}
{% endblock %}

{% block content %}
    Sorry, no content
{% endblock %}

{% block footer %}
    {% include 'Partials/Layout/_footer.twig' %}

    {{ function('wp_footer') }}
    {% include 'Partials/Components/_analytics.twig' %}
{% endblock %}
</body>
</html>
