<footer class="page-footer py-4">
    <div class="container py-4">
        <div class="page-footer__inner">
            <h4 class="main-nav__title mb-3 color-5 d-block">Menu</h4>
            {% include 'Partials/Components/_nav-footer.twig' %}
        </div>
    </div>
</footer>