<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <title>{{site.title}} | {{ site.description }} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="pingback" href="{{ site.pingback_url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ theme.link }}/favicons/manifest.json">
    <link rel="mask-icon" href="{{ theme.link }}/favicons/safari-pinned-tab.svg" color="#5bbad5">

    {{ function('wp_head') }}
</head>