{#<div class="loading loading-page js-loading-page">#}
    {#<span class="loading__text">Wczytywanie...</span>#}
{#</div>#}

<header class="page-header">
    <div class="container">
        <div class="page-header__inner">

            {% include 'Partials/Components/_nav-main.twig' %}

            <div class="mr-3">
                {% include 'Partials/Elements/_lang-switch.twig' %}
            </div>
            {% include 'Partials/Elements/_cart.twig' %}
        </div>
    </div>
</header>

