{% extends 'Layouts/base.twig' %} {% block content %}
<div class="hero hero--page" style="background-image: url(/wp-content/uploads/2018/04/bg_about_us.jpg);">

    <div class="text-center mt-3 pt-2 mt-lg-4 pt-lg-5">
        <h1 class="color-3 display-3 text-uppercase">O nas</h1>
    </div>

</div>

{% if wc_notices %} {% for wc_notice in wc_notices.success %}
<div class="container">
    <div class="notice.notice--success">
        {{ wc_notice }}
    </div>
</div>
{% endfor %} {% endif %}

<div class="separator"></div>

<section class="section">
    <div class="container">

        <div class="row d-flex justify-content-center my-2">
            <div class="col-12 col-md-10">
                <div class="wysiwyg color-6">
                    <p>Spółka Lux Coin to grupa ekspertów Wealth Solutions z wieloletnim doświadczeniem w kreowaniu unikatowych
                        produktów dla kolekcjonerów i miłośników dóbr luksusowych na całym świecie. Dorobek naszego zespołu
                        to rzadkie edycje alkoholi stworzone we współpracy ze szkockimi destylarniami i francuskimi domami
                        koniakowymi. Owocem tej współpracy jest zabutelkowanie jednych z najstarszych whisky i koniaków specjalnie
                        dla naszych klientów. Na naszym koncie mamy również autorski projekt Spirit Watches - limitowane
                        edycje szwajcarskich czasomierzy, które powstały w kooperacji z czołowymi manufakturami. To pierwsze
                        na świecie luksusowe zegarki wyposażone w krople unikatowych alkoholi. Portfolio Wealth Solutions
                        to także kolekcjonerskie edycje piór wiecznych oraz kolekcje dziełnajlepszych artystów sztuki współczesnej.
                        <br> Nasz zespół jest pomysłodawcą serii Spirit Coins - projektu, w którym po raz pierwszy w historii,
                        kapsuły z najstarszymi alkoholami na świecie stająsię sercem złotych monet kolekcjonerskich. Wszystkie
                        trunki wykorzystane w autorskich produktach pochodzą z kolekcji firmy Wealth Solutions. </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section py-1">
    <div class="container">

        <div class="row d-flex justify-content-center my-2">
            <div class="col-12 col-md-6 offset-md-2">

                <ul class="unnumbered_list">
                    <li class="unnumbered_list__item mt-2">10 LAT NA RYNKU</li>
                    <li class="unnumbered_list__item mt-2">8 TYSIĘCY KLIENTÓW</li>
                    <li class="unnumbered_list__item mt-2">25 tys PUBLIKACJI</li>
                    <div class="col-12 col-md-8"><p>O innowacyjnych produktach naszego zespołu w ogólnoświatowych mediach</p></div>
                    
                    <li class="unnumbered_list__item mt-2">2x Guiness World Record</li>
                    <div class="col-12 col-md-8"><p>W kategoriach: najstarszy koniak sprzedany na aukcji i najstarszy rum sprzedany na aukcji </p></div>
                    <li class="unnumbered_list__item mt-2">Spirit Watches</li>
                    <div class="col-12 col-md-8"><p>Autorskie edycje szwajcarskich zegarków z najstarszymi alkoholami na świecie: Cognac Watch (partner:
                        Armin Strom), Rum Watch (partner: Speake-Marin), Whisky Watch (partner: Louis Moinet)</p></div>
                </ul>
            </div>
        </div>

    </div>
</section>

<div class="separator"></div>

<section class="section py-2">
    <div class="container">
        <div class="heading text-center text-uppercase">
            <h2 class="heading__text">Trunki zamknięte
                <br>w serii spirit coins</h2>
        </div>

        <div class="row d-flex justify-content-center mt-2">
            <div class="col-12 col-md-8 my-3">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-4 col-md-3">
                        <div class="text-right">
                            <img src="/wp-content/uploads/2018/04/WHISKY.png" alt="Product image">
                        </div>
                    </div>
                    <div class="col-8">
                        <h4 class="h4 text-uppercase color-1">WHISKY OLD VATTED GLENLIVET</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatioAt vero eos et accusamus
                            et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                            quos dolores et</p>
                        <img src="/wp-content/themes/luxcoin/build/img/sep-4.png" class="my-1 w-100">
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8 my-3">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-4 col-md-3">
                        <div class="text-right">
                            <img src="/wp-content/uploads/2018/04/RUM.png" alt="Product image">
                        </div>
                    </div>
                    <div class="col-8">
                        <h4 class="h4 text-uppercase color-1">WHISKY OLD VATTED GLENLIVET</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatioAt vero eos et accusamus
                            et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                            quos dolores et</p>
                        <img src="/wp-content/themes/luxcoin/build/img/sep-4.png" class="my-1 w-100">
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8 my-3">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-4 col-md-3">
                        <div class="text-right">
                            <img src="/wp-content/uploads/2018/04/COGNAC.png" alt="Product image">
                        </div>
                    </div>
                    <div class="col-8">
                        <h4 class="h4 text-uppercase color-1">WHISKY OLD VATTED GLENLIVET</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatioAt vero eos et accusamus
                            et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                            quos dolores et</p>
                        <img src="/wp-content/themes/luxcoin/build/img/sep-4.png" class="my-1 w-100">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<section class="about_us section py-2">
    <div class="container">

        <div class="row justify-content-center mt-3 mb-5">

            <div class="col-12 col-md-8">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6">

                        <div class="s-product s-product--3 text-center px-md-4">
                            <div class="heading text-center text-uppercase mt-4">
                                <h2 class="heading__text">Spirit Watches</h2>
                            </div>
                            <div class="s-product__thumb my-1">
                                <img src="/wp-content/uploads/2018/04/spirit_watches.jpg" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/www.jpg);"></span>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore.
                            </p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Więcej</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">

                        <div class="s-product s-product--3 text-center px-md-4">
                            <div class="heading text-center text-uppercase mt-4">
                                <h2 class="heading__text">Pióra</h2>
                            </div>
                            <div class="s-product__thumb my-1">
                                <img src="/wp-content/uploads/2018/04/spirit_pen.png" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/www.jpg);"></span>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore.
                            </p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Więcej</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>



















{% endblock %}