{% extends 'Layouts/base.twig' %}

{% block content %}
    <div class="hero hero--page" style="background-image: url(/wp-content/uploads/2018/04/dsf44.jpg);">

        <div class="text-center mt-3 pt-2 mt-lg-4 pt-lg-5">
            <h1 class="color-3 display-3 text-uppercase">Sklep on-line</h1>
        </div>

        <div class="separator mt-4"></div>

    </div>

    {% if wc_notices %}
        {% for wc_notice in wc_notices.success %}
            <div class="container">
                <div class="notice.notice--success">
                    {{ wc_notice }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container ">

        <div class="heading text-center text-uppercase mb-3">
            <h2 class="heading__text">Koszyk</h2>
        </div>

        <div class="s-product s-product--cart pb-2 mb-4">
            <div class="row justify-content-center">
                <div class="col-6 col-md">
                    <div class="s-product__thumb">
                        <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
                        <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <h4 class="h4 text-uppercase color-1">Liść klonowy</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Ilość:</p>
                    <p class="h3 color-1">1</p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Cena:</p>
                    <p class="h3 color-1">39 000zł <span class="h5">PLN</span></p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Kod rabatowy</p>
                </div>
            </div>
        </div>

        <div class="s-product s-product--cart  pb-2 mb-4">
            <div class="row justify-content-center">
                <div class="col-6 col-md">
                    <div class="s-product__thumb">
                        <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
                        <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <h4 class="h4 text-uppercase color-1">Liść klonowy</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Ilość:</p>
                    <p class="h3 color-1">1</p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Cena:</p>
                    <p class="h3 color-1">39 000zł <span class="h5">PLN</span></p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Kod rabatowy</p>
                </div>
            </div>
        </div>

        <div class="s-product s-product--cart pb-2 mb-4">
            <div class="row justify-content-center">
                <div class="col-6 col-md">
                    <div class="s-product__thumb">
                        <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
                        <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <h4 class="h4 text-uppercase color-1">Liść klonowy</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Ilość:</p>
                    <p class="h3 color-1">1</p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Cena:</p>
                    <p class="h3 color-1">39 000zł <span class="h5">PLN</span></p>
                </div>
                <div class="col-4 col-md">
                    <p class="h4 color-1">Kod rabatowy</p>
                </div>
            </div>
        </div>

        <div class="text-right mb-5">
            <p class="h4 color-1">RAZEM: <span class="display-4 pl-3 font-weight-light">39 000zł</span></p>
            <a href="/" class="btn btn-radius btn-type-1 btn-md mt-2">
                <span class="btn__inner">Przejdź dalej</span>
            </a>
        </div>
    </div>
{% endblock %}