{% extends 'Layouts/base.twig' %}

{% block content %}

    <div class="hero hero--home" style="background-image: url({{ page.thumbnail.src }});">

        <div class="container">
            <a class="brand" href="{{ site.link }}" title="{{ site.title }}">
                <img src="{{ site.theme.uri }}/build/img/brand.png" class="brand__logo" alt="{{ site.title }}">
            </a>

            <div class="row">
                <div class="col-12 col-sm-6"></div>
                <div class="col-12 col-sm-6">
                    <div class="hero__content color-3">
                        <div class="wysiwyg">
                            <p>O Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-md mt-2">
                                <span class="btn__inner">Więcej</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    {% if wc_notices %}
        {% for wc_notice in wc_notices.success %}
            <div class="container">
                <div class="notice.notice--success">
                    {{ wc_notice }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="separator"></div>

    <section class="section py-4">
        <div class="container">
            <div class="slider-coins js-slider-coins">

                <div class="js-slider-coins__single slider-coins__coin left" data-place="left">
                    <img src="/wp-content/uploads/2018/04/o1.png">
                    <div class="slider-coins__content js-slider-coins__content" style="display: none;">
                        <h4 class="my-4 color-1 text-uppercase">Whisky coin 1</h4>
                        <a href="/" class="btn btn-radius btn-type-1 btn-sm">
                            <span class="btn__inner">Więcej</span>
                        </a>
                    </div>
                </div>

                <div class="js-slider-coins__single slider-coins__coin center" data-place="center">
                    <img src="/wp-content/uploads/2018/04/o2.png">
                    <div class="slider-coins__content js-slider-coins__content">
                        <h4 class="my-4 color-1 text-uppercase">Whisky coin 2</h4>
                        <a href="/" class="btn btn-radius btn-type-1 btn-sm">
                            <span class="btn__inner">Więcej</span>
                        </a>
                    </div>
                </div>

                <div class="js-slider-coins__single slider-coins__coin right" data-place="right">
                    <img src="/wp-content/uploads/2018/04/o3.png">
                    <div class="slider-coins__content js-slider-coins__content" style="display: none;">
                        <h4 class="my-4 color-1 text-uppercase">Whisky coin 3</h4>
                        <a href="/" class="btn btn-radius btn-type-1 btn-sm">
                            <span class="btn__inner">Więcej</span>
                        </a>
                    </div>
                </div>
                <a href="#" class="slider-coins__arrow js-slider-coins__prev"><i class="icon-svg icon-chevron-left"></i></a>
                <a href="#" class="slider-coins__arrow js-slider-coins__next"><i class="icon-svg icon-chevron-right"></i></a>

            </div>
        </div>
    </section>

    <div class="separator"></div>

    <section class="section pb-4">
        <div class="container">
            <div class="slider-circle slider-circle--1 js-slider-circle" data-position="slider-circle--1">

                <div class="slider-circle__circle">
                    <div class="glass glass-1" data-item="1">
                        <img src="/wp-content/uploads/2018/04/whisky_453.png">
                    </div>
                    <div class="glass glass-2" data-item="2">
                        <img src="/wp-content/uploads/2018/04/rim_544.png">
                    </div>
                    <div class="glass glass-3" data-item="3">
                        <img src="/wp-content/uploads/2018/04/cognac_454.png">
                    </div>

                </div>

                <div class="slider-circle__content glass-1-content text-center">
                    <h4 class="my-4 color-1 text-uppercase">WHISKY OLD VATTED<br>GLENLIVET</h4>
                    <a href="/" class="btn btn-radius btn-type-1 btn-sm">
                        <span class="btn__inner">Więcej</span>
                    </a>
                </div>
                <div class="slider-circle__content glass-2-content text-center">
                    <h4 class="my-4 color-1 text-uppercase">RUM<br>GLENLIVET</h4>
                    <a href="/" class="btn btn-radius btn-type-1 btn-sm">
                        <span class="btn__inner">Więcej</span>
                    </a>
                </div>
                <div class="slider-circle__content glass-3-content text-center">
                    <h4 class="my-4 color-1 text-uppercase">Cogniac<br>GLENLIVET</h4>
                    <a href="/" class="btn btn-radius btn-type-1 btn-sm">
                        <span class="btn__inner">Więcej</span>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <div class="separator"></div>

    <section class="section my-4 py-4">
        <div class="container">
            <div class="heading text-center text-uppercase">
                <h2 class="heading__text">Monety<br>bulionowe</h2>
            </div>

            <div class="row d-flex justify-content-center my-2">
                <div class="col-12 col-md-6">
                    <div class="wysiwyg text-center color-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-2">
                <div class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="s-product s-product--1 text-center">
                        <div class="s-product__thumb">
                            <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
                            <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
                        </div>
                        <h4 class="h4 text-uppercase color-2 my-3">Liść klonowy</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                            <span class="btn__inner">Więcej</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="s-product s-product--1 text-center">
                        <div class="s-product__thumb">
                            <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
                            <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
                        </div>
                        <h4 class="h4 text-uppercase color-2 my-3">Liść klonowy</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                            <span class="btn__inner">Więcej</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 my-2">
                    <div class="s-product s-product--1 text-center">
                        <div class="s-product__thumb">
                            <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
                            <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
                        </div>
                        <h4 class="h4 text-uppercase color-2 my-3">Liść klonowy</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                            <span class="btn__inner">Więcej</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="separator"></div>

    <section class="section">
        <div class="container">
            <div class="cards my-4">
                <a href="#" class="card" style="background-image: url(/wp-content/uploads/2018/04/f5543.jpg)">
                    <h2 class="card__title">Aktualności</h2>
                </a>
                <a href="#" class="card" style="background-image: url(/wp-content/uploads/2018/04/f5543.jpg)">
                    <h2 class="card__title">Sklep<br>on-line</h2>
                </a>
                <a href="#" class="card" style="background-image: url(/wp-content/uploads/2018/04/f5543.jpg)">
                    <h2 class="card__title">Spirit<br>watches</h2>
                </a>
            </div>
        </div>
    </section>

    <div class="separator"></div>

    {#<section class="section">#}
        {#<div class="container">#}
           {#Kontakt#}
        {#</div>#}
    {#</section>#}


{% endblock %}