{# index.php #} {% extends 'Layouts/base.twig' %} {% block content %}

<div class="hero hero--page" style="background-image: url(/wp-content/uploads/2018/04/bg_index.jpg);">

    <div class="text-center mt-3 pt-2 mt-lg-4 pt-lg-5">
        <h1 class="color-3 display-3 text-uppercase">Aktualności</h1>
    </div>

</div>

<section class="section">
    <div class="container">

        <div class="row d-flex justify-content-center my-2">
            <div class="col-12 col-md-6">
                <div class="wysiwyg color-6 text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section blog">
    <div class="container">

        <div class="row d-flex justify-content-center my-2">

            <div class="col-12 col-md-4 my-2">
                <div class="blog__simple_post_item d-flex flex-column justify-content-center text-center" style="background-image: url('/wp-content/uploads/2018/04/post_image.jpg');">
                    <div class="blog__simple_post_item__head color-7 pt-3 pb-0 mb-auto">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                    <div class="blog__simple_post_item__title color-3 mb-auto">
                        <h2>Lorem</h2>
                    </div>
                    <div class="blog__simple_post_item__footer color-7 pb-3">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 my-2">
                <div class="blog__video_post_item" style="background-image: url('/wp-content/uploads/2018/04/wideo_image.jpg');">

                </div>
            </div>

            <div class="col-12 col-md-4 my-2">
                <div class="blog__simple_post_item d-flex flex-column justify-content-center text-center" style="background-image: url('/wp-content/uploads/2018/04/post_image.jpg');">
                    <div class="blog__simple_post_item__head color-7 pt-3 pb-0 mb-auto">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                    <div class="blog__simple_post_item__title color-3 mb-auto">
                        <h2>Lorem</h2>
                    </div>
                    <div class="blog__simple_post_item__footer color-7 pb-3">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-2">
                <div class="blog__simple_post_item d-flex flex-column justify-content-center text-center" style="background-image: url('/wp-content/uploads/2018/04/post_image.jpg');">
                    <div class="blog__simple_post_item__head color-7 pt-3 pb-0 mb-auto">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                    <div class="blog__simple_post_item__title color-3 mb-auto">
                        <h2>Lorem</h2>
                    </div>
                    <div class="blog__simple_post_item__footer color-7 pb-3">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-2">
                <div class="blog__simple_post_item d-flex flex-column justify-content-center text-center" style="background-image: url('/wp-content/uploads/2018/04/post_image.jpg');">
                    <div class="blog__simple_post_item__head color-7 pt-3 pb-0 mb-auto">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                    <div class="blog__simple_post_item__title color-3 mb-auto">
                        <h2>Lorem</h2>
                    </div>
                    <div class="blog__simple_post_item__footer color-7 pb-3">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-2">
                <div class="blog__simple_post_item d-flex flex-column justify-content-center text-center" style="background-image: url('/wp-content/uploads/2018/04/post_image.jpg');">
                    <div class="blog__simple_post_item__head color-7 pt-3 pb-0 mb-auto">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                    <div class="blog__simple_post_item__title color-3 mb-auto">
                        <h2>Lorem</h2>
                    </div>
                    <div class="blog__simple_post_item__footer color-7 pb-3">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-2">
                <div class="blog__simple_post_item d-flex flex-column justify-content-center text-center" style="background-image: url('/wp-content/uploads/2018/04/post_image.jpg');">
                    <div class="blog__simple_post_item__head color-7 pt-3 pb-0 mb-auto">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                    <div class="blog__simple_post_item__title color-3 mb-auto">
                        <h2>Lorem</h2>
                    </div>
                    <div class="blog__simple_post_item__footer color-7 pb-3">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 my-2">
                <div class="blog__simple_post_item d-flex flex-column justify-content-center text-center" style="background-image: url('/wp-content/uploads/2018/04/post_image.jpg');">
                    <div class="blog__simple_post_item__head color-7 pt-3 pb-0 mb-auto">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                    <div class="blog__simple_post_item__title color-3 mb-auto">
                        <h2>Lorem</h2>
                    </div>
                    <div class="blog__simple_post_item__footer color-7 pb-3">
                        <p>Kirby light 12/ lorem</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>




{#     {% for post in posts %}
        {% include ['Templates/single-'~post.post_type~'.twig', 'Templates/single.twig'] %}
    {% endfor %} #}

{# {% for post in posts %} {% include ['Templates/single-'~post.post_type~'.twig', 'Templates/single.twig'] %} {% endfor
%} #} {#{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size:
2}) } %}#} {% endblock %}
