{% extends 'Layouts/base.twig' %}

{% block content %}
    {% if wc_notices %}
        {% for wc_notice in wc_notices.success %}
            <div class="container">
                <div class="notice.notice--success">
                    {{ wc_notice }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="separator"></div>
    </div>




    {#{% for post in posts %}#}
    {#{{post.content}}#}
    {#{% endfor %}#}
{% endblock %}