{% extends 'Layouts/base.twig' %}

{% block content %}

    <div class="hero hero--page" style="background-image: url(/wp-content/uploads/2018/04/dsf44.jpg);">

        <div class="text-center mt-3 pt-2 mt-lg-4 pt-lg-5">
            <h1 class="color-3 display-3 text-uppercase">{{ function('woocommerce_page_title') }}</h1>
        </div>

        <div class="separator mt-4"></div>

    </div>
    <div class="page-shop">
        {% if wc_notices %}
            {% for wc_notice in wc_notices.success %}
                <div class="container">
                    <div class="notice.notice--success">
                        {{ wc_notice }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="container ">

            <div class="heading text-center text-uppercase">
                <h2 class="heading__text">Spirit Coins</h2>
            </div>

            <div class="row justify-content-center mb-3">
                {% for coin in 0..2 %}
                    <div class="col-12 col-sm-6 col-md-4 my-4">
                        {#{% include 'Partials/Elements/_product.twig' with {#}
                        {#'product': coin,#}
                        {#'type': '1'#}
                        {#} %}#}

                        <div class="s-product s-product--1 text-center">
                            <div class="s-product__thumb">
                                <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
                            </div>
                            <h4 class="h4 text-uppercase color-1 my-3">Liść klonowy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            <p class="h3 color-1">39 000zł <span class="h5">PLN</span></p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Dodaj do koszyka</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="heading text-center text-uppercase mt-4">
                <h2 class="heading__text">Monety bulionowe</h2>
            </div>

            <div class="row justify-content-center">
                {% for coin in 0..4 %}
                    <div class="col-12 col-sm-6 col-md-4 my-4">
                        {#{% include 'Partials/Elements/_product.twig' with {#}
                        {#'product': coin,#}
                        {#'type': '1'#}
                        {#} %}#}
                        <div class="s-product s-product--1 text-center">
                            <div class="s-product__thumb">
                                <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
                            </div>
                            <h4 class="h4 text-uppercase color-1 my-3">Lorem Ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            <p class="h3 color-1">39 000zł <span class="h5">PLN</span></p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Dodaj do koszyka</span>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>

            <div class="heading text-center text-uppercase mt-4">
                <h2 class="heading__text">Zestawy</h2>
            </div>

            <div class="row justify-content-center">
                {% for coin in 0..0 %}

                    <div class="col-12 my-4">
                        {#{% include 'Partials/Elements/_product.twig' with {#}
                        {#'product': coin,#}
                        {#'type': '2'#}
                        {#} %}#}
                        <div class="s-product s-product--2 text-center">
                            <div class="row">

                                <div class="col-12 col-md-6">
                                    <h4 class="h4 text-uppercase color-1 mt-3 mb-2">Lorem Ipsum</h4>
                                    <p class="h3 color-1 mb-2">39 000zł <span class="h5">PLN</span></p>
                                    <img src="{{ theme.link }}/build/img/sep-3.jpg" class="my-1 w-100">
                                    <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                        <span class="btn__inner">Kup zestaw</span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="s-product__thumb">
                                        <img src="/wp-content/uploads/2018/04/4453.jpg" alt="Product image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="heading text-center text-uppercase mt-4">
                <h2 class="heading__text">Spirit watches</h2>
            </div>

            <div class="row justify-content-center">
                {% for coin in 0..2 %}
                    <div class="col-12 col-sm-6 col-md-4 my-4">
                        {#{% include 'Partials/Elements/_product.twig' with {#}
                        {#'product': coin,#}
                        {#'type': '1'#}
                        {#} %}#}
                        <div class="s-product s-product--4 text-center">
                            <div class="s-product__thumb">
                                <img src="/wp-content/uploads/2018/04/e444.jpg" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/e444.jpg);"></span>
                            </div>
                            <h4 class="h4 text-uppercase color-1 my-3">Lorem Ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            <p class="h3 color-1">39 000zł <span class="h5">PLN</span></p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Dodaj do koszyka</span>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>


            <div class="heading text-center text-uppercase mt-4">
                <h2 class="heading__text">Spirit pen</h2>
            </div>

            <div class="row justify-content-center mt-3 mb-5">
                {% for coin in 0..1 %}
                    <div class="col-12 col-sm-6">
                        {#{% include 'Partials/Elements/_product.twig' with {#}
                        {#'product': coin,#}
                        {#'type': '1'#}
                        {#} %}#}
                        <div class="s-product s-product--3 text-center px-md-4">
                            <div class="s-product__thumb">
                                <img src="/wp-content/uploads/2018/04/www.jpg" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/www.jpg);"></span>
                            </div>
                            <h4 class="h4 text-uppercase color-1 my-3">Lorem Ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            <p class="h3 color-1">39 000zł <span class="h5">PLN</span></p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Dodaj do koszyka</span>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>





    {#{% for post in posts %}#}
    {#{{post.content}}#}
    {#{% endfor %}#}
{% endblock %}