{% extends 'Layouts/base.twig' %} {% block content %}
<div class="hero hero--page" style="background-image: url(/wp-content/uploads/2018/04/bg_about_us.jpg);">

    <div class="text-center mt-3 pt-2 mt-lg-4 pt-lg-5">
        <img src="/wp-content/themes/luxcoin/build/img/LOGO_SPIRIT.png" alt="logo spirit">
    </div>

</div>

{% if wc_notices %} {% for wc_notice in wc_notices.success %}
<div class="container">
    <div class="notice.notice--success">
        {{ wc_notice }}
    </div>
</div>
{% endfor %} {% endif %}

<div class="separator"></div>

<section class="section">
    <div class="container">

        <div class="row d-flex justify-content-center my-2">
            <div class="col-12 col-md-10">
                <div class="wysiwyg color-6">
                    <p>Nieuchwytny duch dawnych wieków zaklęty w szlachetnym metalu. Brzmi jak baśń, a to namacalny konkret.
                        Najstarsze trunki na świecie zostały ukryte w serii złotych monet. Spirit Coins to bowiem trzy unikatowe
                        obiekty kolekcjonerskie: Whisky Coin, Rum Coin i Cognac Coin. Po raz pierwszy w historii połączono
                        dwa odcienie rzadkości – najstarszy na świecie alkohol i drogocenny kruszec najwyższej próby.</p>
                    <p>Spirit Coins jest dziełem ekspertów z firmy Wealth Solutions współtworzonym z czołowymi mennicami świata.
                        Każda moneta z tej serii to fenomen o wadze dwóch uncji wybity w maksymalnym nakładzie 300 egzemplarzy.
                        To arcydzieło złotnictwa z kroplą wielowiekowego trunku. Spirit Coins stanowi więc nie tylko zabezpieczenie
                        części rodzinnego majątku dla przyszłych pokoleń. To inwestycja w rzadkość najwyższej próby.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section py-1">
    <div class="container">

        <div class="row d-flex justify-content-center my-2">


            <div class="heading text-center text-uppercase mb-3">
                <h2 class="heading__text">Parametry edycji</h2>
                <p class="color-5">Zestaw 3 ZLotych monet:
                    <br> Rum Coin, Whisky Coin, Cognac Coin</p>
            </div>

            <div class="col-12 text-center edition_parameters">

                <img src="/wp-content/uploads/2018/04/moneta_2.png" alt="moneta">

                <p class="edition_parameters__description color-5">W monetach umieszczono kapsuły, kryjące w sobie najstarsze trunki na świecie:
                    <br>Cognac Gautier 1762, Harewood Rum 1780, Whisky Old Vatted Glenlivet 1862</p>

                <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                    <span class="btn__inner">KUP TERAZ</span>
                </a>
            </div>
        </div>

    </div>
</section>

<div class="separator"></div>

<section class="section py-2">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 my-3">
                <div class="heading text-center text-uppercase">
                    <h2 class="heading__text">Egzemplarze</h2>
                </div>
                <div class="row justify-content-center">

                    <div class="col-12 col-sm-6 col-md-4 my-3">
                        <div class="s-product s-product--5 text-center">
                            <div class="s-product__thumb">
                                <img src="/wp-content/uploads/2018/04/whisky_coin.png" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/whisky_coin_shadow.png);"></span>
                            </div>
                            <h4 class="h4 text-uppercase color-1 my-3">Lorem Ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore.
                            </p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Więcej</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 my-3">
                        <div class="s-product s-product--5 text-center">
                            <div class="s-product__thumb">
                                <img src="/wp-content/uploads/2018/04/whisky_coin.png" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/whisky_coin_shadow.png);"></span>
                            </div>
                            <h4 class="h4 text-uppercase color-1 my-3">Lorem Ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore.
                            </p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Więcej</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 my-3">
                        <div class="s-product s-product--5 text-center">
                            <div class="s-product__thumb">
                                <img src="/wp-content/uploads/2018/04/whisky_coin.png" alt="Product image">
                                <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/whisky_coin_shadow.png);"></span>
                            </div>
                            <h4 class="h4 text-uppercase color-1 my-3">Lorem Ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore.
                            </p>
                            <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
                                <span class="btn__inner">Więcej</span>
                            </a>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
</section>

<div class="separator"></div>

<section class="section py-2">
    <div class="container">
        <div class="heading text-center text-uppercase">
            <h2 class="heading__text">Trunki zamknięte
                <br>w serii spirit coins</h2>
        </div>

        <div class="row d-flex justify-content-center mt-2">
            <div class="col-12 col-md-8 my-3">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-4 col-md-3">
                        <div class="text-right">
                            <img src="/wp-content/uploads/2018/04/WHISKY.png" alt="Product image">
                        </div>
                    </div>
                    <div class="col-8">
                        <h4 class="h4 text-uppercase color-1">WHISKY OLD VATTED GLENLIVET</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatioAt vero eos et accusamus
                            et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                            quos dolores et</p>
                        <img src="/wp-content/themes/luxcoin/build/img/sep-4.png" class="my-1 w-100">
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8 my-3">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-4 col-md-3">
                        <div class="text-right">
                            <img src="/wp-content/uploads/2018/04/RUM.png" alt="Product image">
                        </div>
                    </div>
                    <div class="col-8">
                        <h4 class="h4 text-uppercase color-1">WHISKY OLD VATTED GLENLIVET</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatioAt vero eos et accusamus
                            et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                            quos dolores et</p>
                        <img src="/wp-content/themes/luxcoin/build/img/sep-4.png" class="my-1 w-100">
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8 my-3">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-4 col-md-3">
                        <div class="text-right">
                            <img src="/wp-content/uploads/2018/04/COGNAC.png" alt="Product image">
                        </div>
                    </div>
                    <div class="col-8">
                        <h4 class="h4 text-uppercase color-1">WHISKY OLD VATTED GLENLIVET</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatioAt vero eos et accusamus
                            et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                            quos dolores et</p>
                        <img src="/wp-content/themes/luxcoin/build/img/sep-4.png" class="my-1 w-100">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>






{% endblock %}