<a href="/cart" class="link"><i class="icon-svg icon-cart"></i> ({{ cart_products|length }})</a>

{#{% if cart_empty %}#}
{#{% else %}#}
    {#{% for product in cart_products %}#}
    {#{% endfor %}#}
{#{% endif %}#}