{% if languages %}
    <div class="lang-select">
        <ul class="lang-select__list">
            {% for lang in languages %}
                {% if lang.active %}
                    <li class="lang-select__item"><a class="lang-select__link lang-select__link--active" title="{{ lang.native_name }}" href="{{ lang.url }}">{{ lang.language_code }}</a></li>

                {% else %}
                    <li class="lang-select__item"><a class="lang-select__link" title="{{ lang.native_name }}" href="{{ lang.url }}">{{ lang.language_code }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endif %}