<div class="s-product s-product--{{ type }} text-center">
    <div class="s-product__thumb">
        <img src="/wp-content/uploads/2018/04/lisc_klonowy.png" alt="Product image">
        <span class="s-product__thumb-shadow" style="background-image: url(/wp-content/uploads/2018/04/lisc_klonowy.png);"></span>
    </div>
    <h4 class="h4 text-uppercase color-1 my-3">Liść klonowy</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    <p class="h3 color-1">39 000zł <span class="h5">PLN</span></p>
    <a href="/" class="btn btn-radius btn-type-1 btn-sm mt-2">
        <span class="btn__inner">Dodaj do koszyka</span>
    </a>
</div>
{#<div class="product-hero__wrapper__action">#}
    {#{% do action('woocommerce_single_product_summary') %}#}
{#</div>#}
{#{% do action('woocommerce_after_single_product') %}#}
{#{{ dump(product) }}#}