.page-footer {
    background-image: url("../img/bg_footer.jpg");
    background-size: cover;
    background-position: center center;
}
.page-footer__inner {
    //display: flex;
    //justify-content: center;
    //flex-wrap: wrap;
    //align-items: center;
}