
.page-header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    padding: rem(25) 0;
    transition: padding 200ms ease, background-color ease 200ms;



}
.page-header--sticky {
    //background-color: transparent;
    //padding: rem(5) 0;
}
.page-header__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}