.hero {
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;

    overflow: hidden;
    margin: 0 0 5rem 0;



    .brand {
        width: 130px;
        height: auto;
        display: block;
        margin: 5rem auto 0;
        @include rwd(small) {
            width: 290px;
        }
    }
    .brand__logo {
        width: 100%;
    }
}

.hero--home {
    height: auto;
    background-attachment: fixed;
    @include rwd(medium) {
        height: auto;
    }

    @include rwd(large) {
        height: auto;
        min-height: 100vh;
    }
}
.hero--page {
    height: auto;
    @include rwd(medium) {
        height: auto;
    }

    @include rwd(large) {
        height: 500px;
    }
}

.hero__content {
    margin: 7rem 0;
    @include rwd(medium) {
        margin: 6rem 0;
    }

    @include rwd(large) {
        margin: 9rem 0;
    }

    p {
        line-height: 2;
    }
}