.section {
    position: relative;
}
.section--md {
    padding: rem(30) 0;
    @include rwd(medium) {
        padding: rem(60) 0;
    }
    @include rwd(large) {
        padding: rem(90) 0;
    }
    &.section--skew:before {
        height: calc(100% - #{rem(60)});
        top: #{rem(60)};
        @include rwd(medium) {
            height: calc(100% - #{rem(100)});
            top: #{rem(100)};
        }
        @include rwd(large) {
            height: calc(100% - #{rem(145)});
            top: #{rem(145)};
        }
    }
}
.section--lg {
    padding: rem(30) 0;
    @include rwd(medium) {
        padding: rem(60) 0;
    }
    @include rwd(large) {
        padding: rem(130) 0;
    }
    &.section--skew:before {
        height: calc(100% - #{rem(30)});
        top: #{rem(30)};

        @include rwd(medium) {
            height: calc(100% - #{rem(60)});
            top: #{rem(60)};
        }
        @include rwd(large) {
            height: calc(100% - #{rem(130)});
            top: #{rem(130)};
        }
    }
}
.section__inner {
    position: relative;
    z-index: 2;
}
.section__content {
    position: relative;
    z-index: 5;
}
.section__picture {
    position: absolute;
    max-height: 80%;
    display: none;
    z-index: 5;
    top: 5rem;


    @include rwd(medium) {
        //width: 60%;
        display: block;
    }
    @include rwd(large) {
        //width: 70%;
    }
}

.section--skew {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 1;
        top: 0;
        transform: skewY(-4deg);
    }
}
.section--skew-no-bottom {
    overflow: hidden;
    &:before {
        height: 150% !important;

    }
}
.section--skew-1 {
    &:before {
        background-color: $br1;
    }
}
.section--skew-2 {
    &:before {
        background-color: $br2;
    }
}
.section--skew-3 {
    &:before {
        background-color: $br3;
    }
}
.section--skew-4 {
    &:before {
        background-color: $br4;
    }
}
.section--skew-5 {
    &:before {
        background-color: $br5;
    }
}


// TYPES
.section--type-1 {
    .section__picture {
        @include rwd(medium) {
            left: 50%;
        }
        @include rwd(large) {
            left: 40%;
        }
    }
}
.section--type-2 {
    .section__picture {
        @include rwd(medium) {
            right: 50%;
        }
        @include rwd(large) {
            right: 40%;
        }
    }
}


// HASH
.hash {
    position: absolute;
    z-index: 1;
    height: 100%;
    max-height: 600px;

    @include rwd(medium) {
        height: 100%;
    }
    @include rwd(large) {
        height: 100%;
    }
    @include rwd(xlarge) {
        height: 100%;

    }
}
.hash-color-1 {
    path {
        fill: $br1;
    }
}
.hash-color-2 {
    path {
        fill: $br2;
    }
}
.hash-color-3 {
    path {
        fill: $br3;
    }
}
.hash-color-4 {
    path {
        fill: $br4;
    }
}
.hash-color-5 {
    path {
        fill: $br5;
    }
}
.hash-1 {
    left: 0;
    top: 0;
}
.hash-2 {
    top: 0;
    right: 0;
}
.hash-3 {
    right: 0;
    bottom: 0;
}
.hash-4 {
    left: 0;
    bottom: -50%;
}