/*************************************************************
 * BASE
 *
 *
 */
/*
 **************************************************************/
$base-font-size: 16px;

$grid_columns: 12;
$grid_columns-padding: 1rem;
$container-padding: 1rem;
$page-width: 1230px;

$ff-primary: 'Lato', sans-serif;
$ff-secondary: 'PT Sans', sans-serif;


$enable-rounded: false;
$enable-shadows: false;

/*************************************************************
 * BREAKPOINTS
 *
 *
 */

$mq: small, medium, large, xlarge;
$mq_prefix: sm, md, lg, xlg;

$rwd-small: 576px;
$rwd-medium: 768px;
$rwd-large: 992px;
$rwd-xlarge: 1200px;

$rwd-max-small: $rwd-small - 1px;
$rwd-max-medium: $rwd-medium - 1px;
$rwd-max-large: $rwd-large - 1px;
$rwd-max-xlarge: $rwd-xlarge - 1px;

/*
 **************************************************************/
/*************************************************************
 * COLORS
 *
 *
 */
$br1: #a59d8e;
$br2: #716e6b;
$br3: #ffffff;
$br4: #000000;
$br5: #574f43;
$br6: #252525;

$br7: #d9d9d9;
$br8: #f7f7f7;
/*
 **************************************************************/
/*************************************************************
 * LAYOUT BORDERS
 *
 *
 */

$border-radius: 50px;

/*************************************************************
/*************************************************************
 * FONT SIZE
 * FONT WEIGHT
 *
 */
$font-size-base: .85rem;

$line-height-base: 1.8;

$headings-font-weight: 400;
$headings-line-height:   1.2;

$headings-font-family: $ff-secondary;

$h1-font-size:                $font-size-base * 2.2;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 2 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.2 !default;
$h6-font-size:                $font-size-base !default;

$display1-size:               6rem;
$display2-size:               4.5rem;
$display3-size:               4.5rem !default;
$display4-size:               2.5rem;

$display1-weight:             800;
$display2-weight:             800 !default;
$display3-weight:             100 !default;
$display4-weight:             600;
$display-line-height:         $headings-line-height !default;



/*
 **************************************************************/
/*************************************************************
 * MARGINS
 * PADDINGS
 *
 */
$spacer: 2.5rem;
//$hr-margin-y:                 $spacer !default;

$hr-border-color:             rgba($br4, .1) ;
$hr-border-width:             1px;
/*
 **************************************************************/

/*
/*************************************************************
 * GRID
 *
 */


/*
 **************************************************************/
/*************************************************************
 * FORMS
 *
 */
$form-padding-x: 20;
$form-padding-y: 15;
$form-font-size: 14;
$form-label-font-size: 14;

$selectric-main-color:      $br1;                                              // Color used in border
$selectric-secondary-color: $br4;                                              // Color used in button
$selectric-text-color:      $br2;                                              // Color used in label
$selectric-bg-color:        transparent;                                           // Background color
$selectric-btn-bg-color:    transparent;                                           // Button background color
$selectric-height:          42px;                                              // Outer height
$selectric-spacing:         1.25rem;                                              // Label left padding
$selectric-border-width:    1px;                                               // Outer border width
$selectric-border-radius:   0px !default;                                               // Border radius
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2) !default; // Inner height
$selectric-font-size:       inherit;                                              // Font size



