/*
html
body
 */

body {
    font-family: $ff-primary;
    line-height: 1.4;
    overflow-x:hidden;
}
html {
    font-size: $base-font-size*0.8;
    @include rwd(medium) {
        font-size: $base-font-size;
    }
}

::selection {
    background-color: $br2; /* WebKit/Blink Browsers */
    color: $br3;
}
::-moz-selection {
    background-color: $br2; /* Gecko Browsers */
    color: $br3;
}