h1, .h1 {
    font-size: $font-size-base * 1.8;
    @include rwd(medium) {
        font-size: $font-size-base * 2;
    }
    @include rwd(large) {
        font-size: $h1-font-size;
    }
}
.display-2 {
    font-size: $display2-size * 0.6;
    @include rwd(medium) {
        font-size: $display2-size * 0.7;
    }
    @include rwd(large) {
        font-size: $display2-size;
    }
}
.display-4 {
    font-size: $display4-size * 0.6;
    @include rwd(medium) {
        font-size: $display4-size * 0.7;
    }
    @include rwd(large) {
        font-size: $display4-size;
    }
}