/*
a
a:hover
 */
.link {
    color: $br4;
    text-decoration: none;
    transition: ease color 300ms;

    &:hover {
        color: $br1;
        text-decoration: none;
    }
}

.link--sm {
    font-size: rem(16);
    text-transform: uppercase;
    font-weight: 600;
}

.link--lg {
    font-size: rem(20);
    text-transform: uppercase;
    font-weight: 700;
}

.link--arrow {
    .icon-svg {
        color: $br1;
        font-size: 60%;
        display: inline-flex;
        margin-right: rem(3);
    }
}